/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "af4298e818fe354ede5ac5d8ef510542";
  src: url("./fonts/unifont.eot"); /* IE9 Compat Modes */
  src: url("./fonts/unifont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/unifont.otf") format("opentype"), /* Open Type Font */
    url("./fonts/unifont.svg") format("svg"), /* Legacy iOS */
    url("./fonts/unifont.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/unifont.woff") format("woff"), /* Modern Browsers */
    url("./fonts/unifont.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}